header{

}
.imagem-principal{
    font-size: 55px;
    background: blue;
    padding: 60px;
}
body{

}
#editando-imagem{
    width: 150px;
    height:150px;
    margin: auto;
}
nav{
    position:absolute;
    top:200px;
    height: 100px;
    right:0;
}
nav li{
    display:inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size:15px;
    text-decoration: none;


}

nav a:hover{
    color:red;
    text-decoration: underline;
}
.produtos li {
    display:inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 15px 10px;
    box-sizing: border-box;
    border:2px solid #000000;
    border-radius:10px;
}

.produtos li:hover {
    border-color: red;
    font-size: 40px;
}
.produtos li:active{
    border-color: #088C19;

}
.produtos li:hover h2{
    font-size: 34px;
}

.descricao-medicamento{
    font-size:18px;
}

.preco-medicamento{
    font-size:22px;
    font-weight: bold;
    margin-top: 10px;
}
.botao{
    text-align: center;
    width: 15px;
    padding: 5px 5px;

}